<div class="fortune_titles">
  <h2><i class="material-icons-outlined">auto_awesome_motion</i>本日の運勢占い</h2>
</div>

<div class="fortune_index">
  <% @data['horoscope'][Time.now.strftime("%Y/%m/%d")].each do |horoscope| %>
    <p><%= image_tag "#{horoscope['sign']}.png", class: "fortune_image" %> <%= link_to horoscope['sign'], fortune_path(horoscope['sign']), class: "index-menu-link startButton" %></p>
  <% end %>
</div>