<div class="top-title">
  <%= image_tag "星の図鑑.png",height: "100px" %>
</div>

<div class="top-container">
  <div class="constellations_that_can_be_observed_today_title">
    <h2><i class="material-icons-outlined">auto_awesome</i>今日見える星座</h2>
  </div>

  <div class="constellations_that_can_be_observed_today">
    <% @data['results'].each do |object| %>
      <p><%=link_to object['jpName'], sign_path(object['id']), class: "index-menu-link" %></p>
    <% end %>
    <p class="dummy"></p>
    <p class="dummy"></p>
    <p class="dummy"></p>
  </div>

</div>
