<div class="top-title">
  <%= image_tag "星の図鑑.png", class:"top-log" %>
</div>

<div class="top-container">
  <div class="constellations_that_can_be_observed_today_title">
    <h2><i class="material-icons-outlined">auto_awesome</i>現在見える星座</h2>
  </div>

  <div class="constellations_that_can_be_observed_today">
    <% @data['results'].each do |object| %>
      <p><%=link_to object['jpName'], sign_path(object['id']), class: "index-menu-link startButton" %></p>
    <% end %>
    <p class="dummy"></p>
    <p class="dummy"></p>
    <p class="dummy"></p>
  </div>
  <div class="cautionary_note">
    <p>※季節関係なくその時点で観測可能なすべての星座が出力されます。【季節】はその星座が目立つ季節を指します。</p>
  </div>

</div>
