<div class="planets_title">
  <h2><i class="material-icons-outlined">rocket</i>惑星一覧</h2>
</div>

<div class="planets_index">
  <% @planets_data['results'].each do |object| %>
    <p><%= link_to object['jpName'], planet_path(object['id']), class: "index-menu-link" %></p>
  <% end %>
</div>

<script>
navigator.geolocation.getCurrentPosition(function(position) {
  $.ajax({
    url: '/update_location',
    type: 'POST',
    data: { 
      latitude: position.coords.latitude, 
      longitude: position.coords.longitude 
    },
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
  });
});
  </script>