// Entry point for your Sass build

@import "header.sass.scss";
@import "footer.sass.scss";
@import "tops.sass.scss";
@import "signs.sass.scss";
@import "planets.sass.scss";
@import "fortunes.sass.scss";
@import "common.sass.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height:1000px;
  color:#fff;
  background-image:url("photo-1488866022504-f2584929ca5f.avif");
  background-size: cover;
  background-repeat:no-repeat;
  font-family: "M PLUS 1p", sans-serif;
}

main{
  height:95%;
}