// Entry point for your Sass build
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 15%;
  width: 100%;
  background-color:#fff;
  position: fixed;
  top: 0;
}

body{
  height:1000px;
  color:#fff;
  background-image:url("photo-1488866022504-f2584929ca5f.avif");
  background-size: cover;
  background-repeat:no-repeat;
  font-family: "M PLUS 1p", sans-serif;
}

main{
  height:95%;
}

footer{
  position: fixed;
  bottom: 0;
  height:5%;
  width: 100%;
  background-color:#fff;
}

.header-menu{
  float: right;
  margin-top:60px;
}

.header-menu-link{
  text-decoration: none;
  color:#333;
  margin-right: 20px;
  font-size:18px;
}

.material-icons-outlined {
  vertical-align: middle;
  margin-right:5px;
}

.top-title{
  text-align: center;
  padding-top:100px;
  margin: 100px 0;
}

.constellations_that_can_be_observed_today_title{
  text-align: center;
  margin-bottom:50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.constellations_that_can_be_observed_today_title i{
  padding-right: 5px;
}

.constellations_that_can_be_observed_today{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  width:700px;
  margin:0 auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
  font-weight: bold;
}

.constellations_that_can_be_observed_today p {
  flex: 1 1 25%; /* 1行で3つの要素を表示 */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.constellations_that_can_be_observed_today .dummy {
  visibility: hidden;
}

.constellations_that_can_be_observed_today::after {
  content: '';
  flex: 1 1 25%;
}

.cautionary_note{
  text-align: center;
  margin-top: 20px;
}

.signs_title{
  text-align: center;
  padding-top:150px;
  margin-bottom:30px;
  letter-spacing: 5px;
  font-weight: bold;
}

.signs_title i{
  padding-right: 5px;
}

.signs_form{
  text-align: center;
  margin-bottom: 30px;
}

.signs_form_text{
  padding: 3px 10px;
}

.signs_form_button{
  padding: 2px;
  margin-left:5px;
}

.signs_index{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  width:90%;
  margin:0 auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
}

.signs_index p{
  flex: 1 1 15%;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.signs_index .dummy {
  visibility: hidden;
}

.signs_index::after {
  content: '';
  flex: 1 1 15%;
}

.planets_title{
  text-align: center;
  padding-top:150px;
  margin-bottom:50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.planets_title i{
  padding-right: 5px;
}

.planets_index{
  width:15%;
  margin:0 auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
}

.planets_index p{
  padding: 8px;
  text-align: center;
}

.index-menu-link{
  text-decoration: none;
  color:#333;
  margin-right:15px;
  font-size:18px;
  font-weight: bold;
}

.sign_detail{
  display: flex;
  flex-direction: column;
}

.planet_detail {
  display: flex;
  flex-direction: column;
}

.sign_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
  width: 90%;
}

.planet_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
  width: 90%;
}

.text_content {
  flex: 1;
  margin-right: 20px;
  background-color:#fff;
  border-radius: 10px;
  color:#333;
  padding:30px; 
  margin:150px 100px 150px 50px;
  width:300px;
  font-weight: bold;
  height: auto;
  width: 60%;
}

.text_upper_part{
  padding-bottom:80px;
}

.text_upper_part_name{
  padding-bottom:20px;
}

.text_beneath p {
  margin-bottom: 30px; /* 任意の値に変更しても良い */
}

.image_content {
  flex-shrink: 0;
  margin: auto 0;
}

.fortune_titles{
  text-align: center;
  padding-top:150px;
  margin-bottom:50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.fortune_titles i{
  padding-right: 5px;
}

.fortune_index{
  width:15%;
  margin:0 auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
}

.fortune_index p{
  padding: 8px;
  text-align: center;
}

.fortune_result_container{
  width: 70%;
  background-color:#fff;
  border-radius: 10px;
  color:#333;
  padding:50px; 
  margin:200px auto;
  text-align: center;
}

.fortune_result_container h1{
  margin-bottom: 50px;
}

.fortune_result_container h2{
  margin-bottom: 30px;
}

.fortune_result_container h4{
  margin-bottom: 30px;
}

.fortune_result_container p{
  padding: 8px;
  font-weight: bold;
}

.twitter_share_container{
  margin-top: 50px;
}

.twitter_share{
  text-decoration: none;
  margin-right:15px;
  font-size:18px;
  font-weight: bold;
  border: solid 2px #fff;
  background-color: #333;
  border-radius: 5px;
  color:#fff;
  padding:5px;
}

.twitter_share i{
  margin-right: 5px;
}

.footer-menu{
  float:right;
  margin:10px 10px;
}

i.fa-twitter-square{
  color: #000;
}