footer{
  height:40px;
  width: 100%;
  background-color:#fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-menu{
  float:right;
  margin:10px 10px;
}

i.fa-twitter-square{
  color: #000;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

}