.fortune_containar{
  display: flex;
  flex-direction: column;
}

.fortune_titles{
  text-align: center;
  padding-top:150px;
  margin-bottom:20px;
  letter-spacing: 5px;
  font-weight: bold;
}

.fortune_titles i{
  padding-right: 5px;
}

.fortune_index{
  display: flex;
  flex-wrap: wrap;
  width:15%;
  margin:40px auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
}

.fortune_index p{
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.fortune_image{
  height: 30px;
  vertical-align: middle;
  margin-right:1px;
}

.fortune_result_container{
  width: 70%;
  background-color:#fff;
  border-radius: 10px;
  color:#333;
  padding:50px; 
  margin:200px auto;
  text-align: center;
}

.fortune_result_container h1{
  margin-bottom: 50px;
}

.fortune_result_container h2{
  margin-bottom: 30px;
}

.fortune_result_container h4{
  margin-bottom: 30px;
}

.fortune_result_container p{
  padding: 8px;
  font-weight: bold;
}

.fortune_result_image{
  height: 50px;
  vertical-align: middle;
  margin-right:5px;
}

.twitter_share_container{
  margin-top: 50px;
}

.twitter_share{
  text-decoration: none;
  margin-right:15px;
  font-size:18px;
  font-weight: bold;
  border: solid 2px #fff;
  background-color: #333;
  border-radius: 5px;
  color:#fff;
  padding:5px;
}

.twitter_share i{
  margin-right: 5px;
}

.twitter_share:hover{
  border: solid 2px #333;
  background-color: #fff;
  color:#333;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .fortune_titles{
    padding-top:200px;
  }
  .fortune_index{
    margin-bottom: 20px;
    width:40%;
  }
  .fortune_index p{
    flex: 1 1 100%;
  }
  .fortune_result_container{
    display: flex;
    flex-direction: column;
  }
  .twitter_share_container{
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .twitter_share{
    display: flex;
    margin-right:0px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-size:14px;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .fortune_titles{
    padding-top:150px;
  }
  .fortune_index{
    margin-bottom: 40px;
    width:60%;
  }
  .fortune_index p{
    flex: 1 1 100%;
  }
  .fortune_result_container{
    display: flex;
    flex-direction: column;
  }
  .twitter_share_container{
    display: flex;
    flex-direction: column;
  }
  .twitter_share{
    display: flex;
    margin-right:0px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-size:14px;
  }
}