
.planets_title{
  text-align: center;
  padding-top:150px;
  margin-bottom:50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.planets_title i{
  padding-right: 5px;
}

.planets_index{
  width:15%;
  margin:0 auto;
  padding:20px;
  background-color:#fff;
  color:#333;
  border-radius: 10px;
}

.planets_index p{
  padding: 8px;
  text-align: center;
}

.planet_detail {
  display: flex;
  flex-direction: column;
}

.planet_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 0;
  width: 90%;
}

.planets-show-image{
 border-radius: 50%; 
 box-shadow: 0 0 15px white;
 height: 400px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */

}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .planets_index{
    margin-bottom: 40px;
    width:50%;
  }
  .planets_index p{
    flex: 1 1 100%;
  }
  .planet_detail{
    flex-direction: column;
    align-items: center;
  }
  .planet_info {
    flex-direction: column;
    align-items: center;
  }
  .planets-show-image{
    height: 250px;
   }
}